// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: url(milky-way.jpg);
}



.header {
    color: white;
    text-align: center;
}

.labels {
  font-size: 1.5em;
  color: black;
  margin-left: 20%;
}

.input-fields {
  margin-left: 20%;
}

#leader {
  margin-left: 10%;
  font-size: 1.4em;
  color: white;
}
